/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map-wrapper{
  text-align: center;
}

#map {
    height: 50%;
    width: 50%;
    display: inline-block;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
}

#station-data {
  grid-column: 1;
  grid-row: 1;

}

#year-input-box-form {
  grid-column: 2;
  grid-row: 1;
}

.smushed-row {
  line-height: 0.5em;
}