/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map-wrapper{
  text-align: center;
}


*{
  scroll-behavior: smooth;
}

/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#instructions-for-table{
  text-align: center;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
  text-align: center;
}

#station-data {
  grid-column: 1;
  grid-row: 1;

}

th:hover{
  background-color: rgb(53,53,53)
}

#monthly-data-table-wrapper {
  margin: 10px 20px;
}

#year-input-box-form {
  grid-column: 2;
  grid-row: 1;
}

#graph-holder {
  position: relative; height:50%; width:90%;
  margin-left: 5%;
}

/* #graph-canvas {
  display: inline-block;
} */

